* {
    box-sizing: border-box;
}

.cube-perspective {
    perspective: 500px;
    touch-action: none;

}

.cube-container {
    width: 200px;
    height: 200px;
    margin: 80px;
    margin: 100px auto;
    transform-style: preserve-3d;
    position: relative;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 3s;

}

.cube-face {
    position: absolute;
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    border: 5px solid rgb(46, 46, 46);
    border-radius: 20px;

}

.cube-face-front {
    background: hsla(0, 100%, 50%, 0.8);
}

.cube-face-right {
    background: hsla(60, 100%, 50%, 0.8);
}

.cube-face-back {
    background: hsla(120, 100%, 50%, 0.8);
}

.cube-face-left {
    background: hsla(180, 100%, 50%, 0.8);
}

.cube-face-top {
    background: hsla(240, 100%, 50%, 0.8);
}

.cube-face-bottom {
    background: hsla(300, 100%, 50%, 0.8);
}

.cube-face-front {
    transform: rotateY(0deg) translateZ(99px);
}

.cube-face-right {
    transform: rotateY(90deg) translateZ(99px);
}

.cube-face-back {
    transform: rotateY(180deg) translateZ(99px);
}

.cube-face-left {
    transform: rotateY(-90deg) translateZ(99px);
}

.cube-face-top {
    transform: rotateX(90deg) translateZ(99px);
}

.cube-face-bottom {
    transform: rotateX(-90deg) translateZ(99px);
}