/*body*/
.page-container {
  position: relative;
  min-height: 100vh;

}

.content-container {
  max-width: 70%;
  padding-bottom: 100px;
  margin: 0 auto;
  max-width: 700px;
}

#button-container {
  text-align: center;
}

body {
  margin: 0;
  background-color: #FDEE8A;
  font-family: 'Arial', sans-serif;
  min-width: 500px;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  white-space: nowrap;
  margin: 0;
  padding: 20px
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  font-size: 1.4em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

button {
  background-color:#FD6C65;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

header {
  background-color: #FD6C65;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navigation {
  width: 100%;
  padding: 0;
  margin: 0;
}

/*Navigation Bar*/
.navigation-items {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.navigation-item {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #13273a;
}

nav li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

/*Welcome Content*/
.container-welcome {
  padding: 20px;
  margin: 50px auto;
  border-radius: 5px;
  border: #13273a solid 1px;
}

.container-projects {
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  border: #13273a solid 1px;
}

.column-3 {
  padding: 20px;
  margin: 20px;
  min-height: 200px;
  min-width: 200px;
  text-align: center;


}

.project-1 {
  background-color: white;
}

.project-2 {
  background-color: #209BFF;
}

.project-3 {
  background-color: white;
}

.project-1:hover {
  background-color: #13273a;
  color: #fff;
}

.project-2:hover {
  background-color: #13273a;
  color: #fff;
}

.project-3:hover {
  background-color: #13273a;
  color: #fff;
}


/*Footer*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  background-color: #13273a;
  color: #fff;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  
}